{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <!Doctype html>
        <html class="no-js" lang="en">
            <body class="home" data-debug="0">
                <section id="content">
                    <div class="content-view">
                        
                    </div>
                </section>

            </body>
        </html>

    </div>
</div>
{% endblock %}